.portfolio {
    background-image: var(--first-gradient);
}

.portfolio__list {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-bottom: 60px;
}

.portfolio__list-item {
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    transition: all 0.7s var(--transition);
}

.portfolio__list-item::before {
    content: '';
    width: 0;
    height: 2px;
    max-width: 60%;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all 0.3s var(--transition);
}

.active-work {
    color: var(--primary-color);
}

.active-work::before,
.portfolio__list-item:hover::before {
    width: 40px;
}

.portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.portfolio__image-wrapper {
    border-radius: 18px;
    overflow: hidden;
}

.portfolio__img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.6s var(--transition);
}

.portfolio__items:hover .portfolio__img {
    transform: scale(1.04);
}

.portfolio__category {
    color: var(--primary-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

.portfolio__category,
.portfolio__description {
    margin-top: 20px;
}

.portfolio__title {
    font-size: var(--h4-font-size);
}

.portfolio__description {
    min-height: 125px;
}

/* Estilos para dispositivos móviles (hasta 767px) */
@media screen and (max-width: 767px) {
   
    .portfolio__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    width: 100vw;
   }

   .card-two {
    padding: 30px;
    border-radius: 20px;
    max-width: 556px;
}
}

/* Estilos para tabletas (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

/* Estilos para escritorios (1024px en adelante) */
@media screen and (min-width: 1024px) {
 
}